.row
  .col-md-4
    Date:
    - if @date == 'all'
      All Dates
      |
      = link_to '4 Week Window', weekly_window_path
    - else
      = link_to 'All Dates', all_dates_path
      |
      4 Week Window
    
  .col-md-8
    Team:
    - if @team == 'all'
      All Teams
    - else
      = link_to 'All Teams', '/'
    |
    - Event::TEAMS.each do |name,value|
      - if @team == value
        = name
      - else
        %a(href="/#{value}?date=#{@date}")= name
      |

%hr

= render 'table', events: @events
